alembic==1.0.5
aniso8601==4.0.1
appnope==0.1.0
astropy==2.0.2
astroSynth==0.6.1.5
backcall==0.1.0
bokeh==0.12.14
certifi==2018.11.29
chardet==3.0.4
Click==7.0
decorator==4.3.0
Flask==1.0.2
Flask-Cors==3.0.7
Flask-HTTPAuth==3.2.4
Flask-Jsonpify==1.5.0
Flask-Login==0.4.1
Flask-Migrate==2.3.1
Flask-RESTful==0.3.7
Flask-SQLAlchemy==2.3.2
Flask-WTF==0.14.2
idna==2.8
image==1.5.27
ipython==7.2.0
ipython-genutils==0.2.0
itsdangerous==1.1.0
jedi==0.13.2
Jinja2==2.10
Mako==1.0.7
MarkupSafe==1.1.0
names==0.3.0
numpy==1.14.1
packaging==16.8
pandas==0.20.3
parso==0.3.1
pexpect==4.6.0
pickleshare==0.7.5
Pillow==6.2.0
prompt-toolkit==2.0.7
ptyprocess==0.6.0
py==1.4.34
Pygments==2.3.1
pymongo==3.5.1
pyparsing==2.2.0
pytest==3.2.3
python-dateutil==2.6.1
python-editor==1.0.3
pytz==2017.2
PyYAML>=4.2b1
requests==2.21.0
scipy==0.19.1
six==1.12.0
SQLAlchemy==1.2.15
tornado==4.5.3
tqdm==4.19.4
traitlets==4.3.2
urllib3==1.24.2
wcwidth==0.1.7
Werkzeug==2.2.3
WTForms==2.2.1
