html{
  background-image: url("../img/landscapeBackground.JPG");
  background-size: cover;
  height: 100%;
  overflow: hidden;
}

#mainContainer{
  position: absolute;
  width: 100%;
  height: 100%;
}

#infoBox{
  position: relative;
  width: 50%;
  left: 25%;
  height: 70%;
  top: 15%;
  border-radius: 10px;
}

.infoHead{
  position: relative;
  top: 0;
  width: 100%;
  height: 20%;
  border-radius: 10px;
  vertical-align: middle;
  text-align: center;
  color: white;
}

#shadow {
  content: "";
  position: absolute;
  background: url("../img/plexBackground.png");
  background-size: cover;
  opacity: 0.5;
  z-index: -1;
}

#Title{
  margin: 0;
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.infoContent{
  position: relative;
  top: 3%;
  height: 77%;
  width: 100%;
  border-radius: 10px;
}

#infoShadow{
  content: "";
  position: absolute;
  top: 23%;
  height: 77%;
  width: 100%;
  background: url("../img/plexBackground.png");
  background-size: cover;
  opacity: 0.5;
  z-index: -1;
}

#formContainer{
  position: relative;
  top: 5%;
  left: 5%;
  height: 90%;
  width: 90%;
  border-radius: 10px;
  color: white;
}

#shadow {
  content: "";
  position: absolute;
  background: url("../img/plexBackground.png");
  background-size: cover;
  opacity: 0.5;
  z-index: -1;
}

.s-column{
  float: left;
  width: 100%;
  text-align: center;
}

.du-column {
  float: left;
  width: 50%;
  text-align: center;
}

.tri-column {
  float: left;
  width: 33.33%;
  text-align: center;
}

.row{
  display: flex;
}
